@use "../../styles/base/mixins.scss";

.wrapper {
  @include mixins.full-height-flex;
}

.chats {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}
