@use "../../styles/base/mixins.scss";

.wrapper {
  display: flex;
}

.mainContent {
  height: 100vh;
  @include mixins.full-height-flex;
}

.open {
  --sidebar-width: 240px;
}

.closed {
  --sidebar-width: 60px;
}
