@use '../../styles/base/mixins';

$logo-size: clamp(50px, 8vw, 75px);

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: $logo-size;
  width: $logo-size;
}

.heading {
  @include mixins.heading1;
}

.mobileMenu {
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
