@use "../../styles/base/variables";

.message {
  padding: 0.75rem;
  border-radius: 20px;
  overflow-wrap: break-word;
  word-break: break-word;

  p {
    margin: 0;
  }

  ul, ol {
    margin-left: 1.25rem;
    margin-bottom: 0.5rem;
  }

  pre {
    background-color: variables.$color-neutral-5;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
  }
}

.user {
  align-self: flex-end;
  background: variables.$color-secondary-alternate;
  border-bottom-right-radius: 0;
}

.assistant {
  align-self: flex-start;
}
