@use '../../styles/base/variables.scss';
@use '../../styles/base/mixins';

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  @include mixins.heading2;
}

.input {
  border-color: variables.$color-primary;

  &:focus {
    border-color: variables.$color-secondary-hover;
    box-shadow: 0 0 0 0.25rem variables.$color-secondary-hover;
  }
}
